body{
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
    width: 100%;
    height: 100%;
}
.encabezado{
    
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*background-color: peachpuff;*/
    
}
.imagenLogo{
    width: 80px;
    height: 82px;
}
.logo{
    margin: 2%;
    display: flex;
    align-self: flex-start;    
}
.marca{
   
    margin:1% 0;
    font-size: 70px;
    font-family: 'Amatic SC';
   
}
.buscador{
   
    margin:5%;
}
.boton:hover{
    background-color: moccasin ;
    border-radius: 10%;
    border-color: solid;
}
.boton:focus{
    background-color: peachpuff;
}
.cuerpo{
    /*background-color: mediumaquamarine;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    height: auto;
    
    
    
   
}

#carouselExampleSlidesOnly{
    background-color: lightsteelblue;
    border-style: ridge;
    width: 30%;
    height: 60%;
    margin:1%;
    padding: 2%;
   
}
#fotos{
    width: 300px;
    height: 300px;
}


.Detalle{
  width: 50%;
  height: 30%;
  margin: 1%;
  padding: 2%;
  border-radius: 5%;
  border: 4px;
  border-style: ridge;
  background-color: lightsteelblue;
  
}
#italica{
    font-style: italic;
    text-align: start;
}
#titulo{
    color: rgb(245, 116, 66);
}
.bienvenido{
    font-style: normal;
    font-size: 20px;
    color: rgb(40, 149, 21);
}


.catalogo{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 60%;
    height: auto;
    margin-top: -25%;
}

.tarjeta{
    width: 210px;
    height: 260px;
    margin: 2%;
    padding: 2%;
    border-style: ridge;
    background-color: peachpuff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#fotoTarjeta{
    width: 140px;
    height: 160px;
    margin: 1%;
    align-self: center;
}
.descripcion{
    margin: 1%;
    text-align: center;
}
#nombreProd{
    font-size: 12px;
   
}
#descripProd{
    font-size: 10px;
    margin: 0%;
}




.piePagina{
    background-color: grey;
    text-align: center;
    margin-bottom: 0;
    
}
/*.margen{
    margin: 2%;
   
}*/

#tamañoFoto{
    width: 300px;
    height: 300px;
}
.carrito{
    background-color: cadetblue;
    width: auto;
    height: auto;
    border-color: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#botonSuma, #botonResta{
    height: 50%;
    
    margin-top: 10%;
}
#botonManual{
    width: 50%;
    align-items: center;
}

.productos{
    width: 30%;
    height: 60%;
    background-color: lightsteelblue;
    margin: 1%;
    padding: 2%;
    border-radius: 5%;
    border: 4px;
    border-style: ridge;
}
.estilo{
    text-align: center;
 }
 p{
     text-align: center;
 }